.home{
    background-color: #F9F9F9;
}

.conteudo {
    padding: 0 1.5em;
}

.menu{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #C4170C;
}

.banner{
    height: 10vh;
    text-align: center;
    background-color: #C4170C;
    border-radius: 10px;
    margin: 0 10px;
}

.image {
    height: 15vh;
    width: auto;
}

.titulo {
    color: #C4170C;
    font-size: 2.5em;
}

.texto-destaque {
    font-size: 1.2em;
}

.destaques {
    background-color: white;
    padding-top: 0.7em;
    display: flex;
    margin-bottom: 2em;
}

.destaque {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    padding: 1em;
    width: 60%;
    margin: 5px;
}

#destaque-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#destaque-2 {
    color: white;
    background-image: url("./image/mg.jpg");
    background-size: cover;
    width: 94%;
}

#destaque-3 {
    color: white;
    background-image: url("./image/gorbachev.jpg");
    background-size: cover;
    width: 94%;
}

.link-destaque {
    text-decoration: none;
}

.previa-noticia {
    display: flex;
    /* direction: column; */
}

.noticias {
    margin: 0 10px;
}

.previa-noticia .titulo {
    font-size: 1.5em;
}

.texto-previa {
    font-size: 1em;
}



/* Estilo das páginas de notícia  */

.main-noticia {
    max-width: 1600px;
    font-size: 1.125rem;
    width: 55.5rem;
    margin: 0 auto 4rem;
}

.cabeca-noticia {
    margin-top: 64px;
    width: 55.5rem;
    padding: 0;
}

.titulo-noticia h1 {
    font-family: Arial, Inter, -apple-system, "system-ui", Roboto, "Helvetica Neue", Helvetica, Noto, Ubuntu, "Segoe UI", sans-serif;
    font-size: 56px;
    letter-spacing: -0.055em;
    text-align: left;
    padding: 0;
    line-height: 110%;
    font-weight: 700;
    color: #111;    
}

.subtitulo p {
    font-family: Arial, Inter, -apple-system, "system-ui", Roboto, "Helvetica Neue", Helvetica, Noto, Ubuntu, "Segoe UI", sans-serif;
    font-size: 20px;
    letter-spacing: -0.03em;
    padding-left: 0;
    text-align: left;
}

.date-time {
    font-family: Arial, Inter, -apple-system, "system-ui", Roboto, "Helvetica Neue", Helvetica, Noto, Ubuntu, "Segoe UI", sans-serif;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #555;
    width: 55.5rem;
    justify-content: space-between;
    margin: 0 auto 4rem;
}

.divisor {
    width: 55.5rem;
    margin: 0 auto 4rem;
    border: 0;
    border-top: 1px solid #ccc;

}

.corpo_noticia{
    max-width: 1600px;
    font-size: 1.125rem;
    width: 45.5rem;
    margin: 0 auto 4rem;
}

.video {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    max-width: 85rem;
}

.corpo_noticia p{
   font-family: Arial, Inter, -apple-system, "system-ui", Roboto, "Helvetica Neue", Helvetica, Noto, Ubuntu, "Segoe UI", sans-serif;
    font-size: 20px;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
    line-height: 2rem;
    padding-left: 1rem; 
    padding-right: 1rem;
}

.legenda {
    color: #555;
    font-family: Arial, Inter, -apple-system, "system-ui", Roboto, "Helvetica Neue", Helvetica, Noto, Ubuntu, "Segoe UI", sans-serif;
    font-size: 12px;
    letter-spacing: -0.01em;
    line-height: 110%;
    margin: 16px 0 0 0;
}

.imagem-grande img{
   width: auto;
}

.imagem-media img{
   width: 640px;
}

.subtitulo-noticia h2{
    font-family: Arial, Inter, -apple-system, "system-ui", Roboto, "Helvetica Neue", Helvetica, Noto, Ubuntu, "Segoe UI", sans-serif;
    font-size: 32px;
    letter-spacing: -0.04em;
    line-height: 110%;
    font-weight: 700;
    margin-bottom: -0.5rem;
    margin-top: 24px;
    color: #111;
}
