p, span, li, h1, h2 {
    font-family: Arial, Inter, -apple-system, "system-ui", Roboto, "Helvetica Neue", Helvetica, Noto, Ubuntu, "Segoe UI", sans-serif;
    line-height: 110%;
}

.home{
    background-color: #F9F9F9;
}

.conteudo {
    padding: 0 1.5em;
    display: flex;
    flex-wrap: wrap;
}

.menu{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #C4170C;
}

.banner{
    height: 10vh;
    width: 100%;
    text-align: center;
    background-color: #C4170C;
    border-radius: 10px;
    margin: 0 5px;
}

.image {
    height: 25vh;
    width: auto;
}

.titulo {
    color: #C4170C;
    font-size: 2.5em;
    letter-spacing: -0.055em;
}

.texto-destaque {
    font-size: 1.2em;
}

.destaques {
    background-color: white;
    padding-top: 0.7em;
    display: flex;
    margin-bottom: 2em;
}

.destaque {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    padding: 1em;
    width: 80%;
    margin: 5px;
}

#destaque-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#destaque-2 {
    color: white;
    background-image: url("./image/mg.jpg");
    background-size: cover;
    width: 94%;
}

#destaque-3 {
    color: white;
    background-image: url("./image/gorbachev.jpg");
    background-size: cover;
    width: 94%;
}

.link-destaque {
    text-decoration: none;
}

.previa-noticia {
    display: flex;
    /* direction: column; */
}

.noticias {
    width: 70%;
}

.infos-lateral {
    width: 30%;
}

.conteudo-previa {
    padding: 0 1.5em;
}

.previa-noticia .titulo {
    font-size: 1.5em;
}

.texto-previa {
    font-size: 1em;
    letter-spacing: -0.03em;
}



/* Estilo das páginas de notícia  */

.main-noticia {
    max-width: 1600px;
    width: 888px;
    margin: 0 auto 64px;
}

.cabeca-noticia {
    margin-top: 64px;
    width: 888px;
    padding: 0;
}

.titulo-noticia h1 {
    font-size: 54px;
    letter-spacing: -0.88px;
    text-align: left;
    padding: 0;
    font-weight: 700;
    color: #111;    
}

.subtitulo p {
    font-size: 20px;
    letter-spacing: -0.48px;
    padding-left: 0;
    text-align: left;
    color: #111;
}

.date-time {
    font-family: Arial, Inter, -apple-system, "system-ui", Roboto, "Helvetica Neue", Helvetica, Noto, Ubuntu, "Segoe UI", sans-serif;
    font-size: 16px;
    letter-spacing: -0.32px;
    margin: 0 auto 64px;
    color: #555;
}

.divisor {
    width: 900px;
    border: 0;
    border-top: 1px solid #ccc;
    padding-bottom: 20px;

}

.corpo_noticia{
    width: 730px;
    margin: 0 auto 64px;
}

.texto_noticia p{
    font-size: 20px;
    letter-spacing: -0.48px;
    margin-bottom: 40px;
    line-height: 32px;
    padding-left: 16px; 
    padding-right: 16px;
    text-align: justify;
}

.subtitulo-noticia h2{
    font-size: 32px;
    letter-spacing: -0.64px;
    font-weight: 700;
    margin-bottom: -8px;
    margin-top: 24px;
    color: #111;
}

.video {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}

.legenda {
    color: #555;
    font-family: Arial, Inter, -apple-system, "system-ui", Roboto, "Helvetica Neue", Helvetica, Noto, Ubuntu, "Segoe UI", sans-serif;
    font-size: 12px;
    letter-spacing: -0.16px;
    line-height: 110%;
    margin: 16px 0 0 0;
}

.image_section {
    text-align: center;
}

.imagem-grande img{
   width: 900px;
}

.imagem-media img{
   width: 640px;
}

.link-noticia {
 margin-left: 150px;
}

.link-noticia ul li{
    letter-spacing: -0.16px;
    font-weight: 700;
   }

.link-noticia ul li a{
    padding-left: 10px;
    font-size: 18px;
    color: #c4170c;
    text-decoration: none;
}

.link-noticia a:hover {
    text-decoration: underline;
}

.footer{
    background-color: #c4170c;
    width: 100%;
    padding: 20px 30px;
}

.footer img {
    height: 60px;
    float: left;
}

.footer p{
    color: #fff;
    font-size: 16px;
    letter-spacing: -0.64px;
}

.footer-servicos {
    padding: 13px 50px 30px;

}
.footer-servicos p{
    float: left;
}

.footer ul {
    list-style: none;
    display: block;
    float: right;
}


.footer ul li {
    float: left;
    border-left: 0;
    padding-left: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-family: Arial, Inter, -apple-system, "system-ui", Roboto, "Helvetica Neue", Helvetica, Noto, Ubuntu, "Segoe UI", sans-serif;
    padding-right: 10px;
}

.footer a:hover {
    text-decoration: underline;
}

